[submodule "thirdparty/region-grower"]
	path = thirdparty/region-grower
	url = https://github.com/Ylannl/region-grower.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/geos"]
	path = thirdparty/geos
	url = https://github.com/Ylannl/geos.git
